# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
.env

# SQLite
*.db
*.sqlite
!smart-parking-rag-assistent/stage_1/data/retrieval_eval_dataset.json

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Project-specific temporary files
.pytest_cache/
test.ipynb
*.log
